{{template "base" .}}

{{define "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="display-1">Home page</h1>
            </div>
        </div>
        <hr class="style1">
        <div class="row bg-secondary pt-2">
            <div class="col">
                <p class="text-white ">Home page paragraph.</p>
            </div>
        </div>
    </div>
{{end}}