<!-- base.layout.tmpl -->
{{template "base" .}}

<!-- defining home.page.tmpl content -->
{{define "content"}}

<!-- Page header -->
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col">
            <h1 class="display-5">Meal Recipies</h1>
        </div>
    </div>
</div><!-- END of header -->

<!-- Line on page -->
<div class="border"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">

            
            <div class="mt-5">By clicking the following button the recipies database will be updated with meal recipies from TheMealDB API.</div>

            <hr>

            <!-- Form -->
            <form action="/" method="POST" class="" novalidate>
                
                <input type="submit" class="btn btn-primary" value="Insert Json">
            </form>

        </div>
    </div>

</div>
{{$string := index .Data "post"}}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>Post data: {{$string}}</p>
        </div>
    </div>

</div>

{{range .Data}}
{{.}}
{{end}}
{{end}}