{{template "base" .}}

<div class="container-fluid"

{{define "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p>{{.}}</p>
            </div>
    </div>
{{end}}