<!-- base.layout.tmpl -->
{{template "base" .}}

<!-- defining home.page.tmpl content -->
{{define "content"}}

<!-- Page header -->
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col">
            <h1 class="display-5">Meal Recipies</h1>
        </div>
    </div>
</div><!-- END of header -->

<!-- Line on page -->
<div class="border"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col">

            
            <div class="mt-4">Search page</div>

            <hr>

            <!-- Form -->
            <div class="mt-5">
                <p>To search meal by name:<br>http://localhost:8080/search/?name=dal%20fry</p>
            </div>

        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form action="/search" method="POST" class="" novalidate>
                <input type="hidden" name="">

                <div class="form-group mt-3">
                    
                </div>

            </form>
        </div>
    </div>

</div>
{{end}}